/* ==UserStyle==
@name           github at night
@namespace      github.com/zettaexa/userstyles
@version        1.0.0
@description    OLED theme for github
@author         zetta
==/UserStyle== */

@-moz-document domain("github.com") {
    [data-color-mode="dark"][data-dark-theme="dark"], [data-color-mode="dark"][data-dark-theme="dark"] ::backdrop, [data-color-mode="auto"][data-light-theme="dark"], [data-color-mode="auto"][data-light-theme="dark"] {
 --bgColor-default: #000000 !important;
 --bgColor-muted: #000000 !important;
 --control-bgColor-active: #101010 !important;
 --control-bgColor-hover: #050505 !important;
 --control-bgColor-rest: #000000 !important;
 --buttonCounter-default-bgColor-rest: #202020 !important;
 --controlTrack-bgColor-active: #252525 !important;
 --controlTrack-bgColor-hover: #202020 !important;
 --controlTrack-bgColor-rest: #151515 !important;
 --borderColor-default: #151515 !important;
 --borderColor-muted: #202020a1 !important;
 --bgColor-inset: #000000 !important;
 --bgColor-disabled: #151515 !important;
 --timelineBadge-bgColor: #151515 !important;
 --color-bg-discussions-row-emoji-box: #151515 !important;
 --menu-bgColor-active: #151515 !important;
 --fgColor-muted: #c0c0c0 !important;
 --bgColor-emphasis: #252525 !important;
 --overlay-bgColor: #000000 !important;
 --overlay-backdrop-bgColor: #000000b5 !important;
 }
}
